version: '2'

services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  phpmyadmin:
    environment:
      - VIRTUAL_HOST=phpmyadmin.bonds.dev

  web:
    build:
      context: .
      dockerfile: Dockerfile_development
    volumes:
      - ".:/var/www"
    environment:
      - VIRTUAL_HOST=*.bonds.dev

