@import "shared/media-queries";
@import "shared/mixins";
@import "shared/variables";

$asideWidth: 300px;

#content-wrapper {
  position: relative;
}

#content {
  @include calc('width', '100% - #{$asideWidth}');
  padding: 0 15px;
  table {
    thead {
      background-color: #FFF;
    }
  }
}

#aside {
  position: absolute;
  top: 0;
  right: 0;
  width: $asideWidth;
  > div {
    width: $asideWidth;
    background-color: $lightColor;
    position: fixed;
    padding: 15px;
  }
}